* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 30px 0;
}

body {
  background-color: #f6f9fe;
}

.product_item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  animation-name: zoomIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.product_item:ntn-child(2) {
  animation-delay: 2s;
}
.product_item:ntn-child(3) {
  animation-delay: 4s;
}
.product_item:ntn-child(4) {
  animation-delay: 6s;
}
.product_item:ntn-child(5) {
  animation-delay: 8s;
}
.product_item:ntn-child(6) {
  animation-delay: 10s;
}
.product_item img {
  width: 100%;
  box-shadow: 0 2px 4px #e2ebfc;
  border-radius: 8px;
}
.product_item h3 {
  font-size: 25px;
  font-weight: bold;
  color: #2a72dc;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.product_item .sub_title {
  font-size: 16px;
  font-weight: bold;
  color: #1e355e;
}
.product_item .product_group_action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_item .product_group_action .product_rate svg path {
  fill: #f9d32f;
}

/* ----------------PRODUCT---------------- */
.product {
  padding: 30px 0;
}
.product .product_title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: bold;
  color: #1e355e;
}
.product .product_content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 992px) {
  .product .product_content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .product .product_content {
    grid-template-columns: 1fr;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.button_shop {
  border-radius: 8px;
  padding: 15px 40px;
  border: 2px solid #2a72dc;
  background-color: #2a72dc;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0 2px 4px #e2ebfc;
}
.button_shop:hover {
  background-color: white;
  color: #2a72dc;
}

/* ----------------HEADER---------------- */
header {
  padding: 30px 0;
  box-shadow: 0 2px 4px #e2ebfc;
  position: relative;
  z-index: 2;
}
header .header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_content a {
  text-decoration: none;
}
header .header_content .header_logo {
  font-size: 24px;
  font-weight: bold;
  color: #2a72dc;
}
@media screen and (max-width: 576px) {
  header .header_content nav {
    display: none;
  }
}
header .header_content nav ul {
  list-style: none;
  display: flex;
}
header .header_content nav ul li {
  margin-right: 20px;
}
header .header_content nav ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #1e355e;
  transition: all 0.3s;
  position: relative;
}
header .header_content nav ul li a::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #2a72dc;
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: all 0.5s;
}
header .header_content nav ul li.active a {
  color: #2a72dc;
}
header .header_content nav ul li.active a::before {
  width: 100%;
}
header .header_content nav ul li:hover a {
  color: #2a72dc;
}
header .header_content nav ul li:hover a::before {
  width: 100%;
}

/* ----------------BANNER---------------- */
.banner {
  background-image: url("./../image/product-header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 5px 0;
}
.banner .banner_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .banner_content .banner_text h1 {
  font-size: 60px;
  font-weight: bold;
  color: #2a72dc;
}
.banner .banner_content .banner_text .banner_sub_title {
  font-size: 20px;
  font-weight: bold;
  color: #1e355e;
  margin: 15px 0;
}
.banner .banner_content .banner_text .banner_group_button {
  margin-top: 10px;
}
.banner .banner_content .banner_text .banner_group_button svg {
  margin-right: 5px;
}
.banner .banner_content .banner_text .banner_group_button .button_more_info {
  border-radius: 8px;
  padding: 15px 40px;
  border: 2px solid #2a72dc;
  background-color: white;
  color: #2a72dc;
  transition: all 0.3s;
  cursor: pointer;
}
.banner
  .banner_content
  .banner_text
  .banner_group_button
  .button_more_info:hover {
  background-color: #2a72dc;
  color: white;
}
.banner .banner_content .banner_text .banner_group_button .button_shop {
  border-radius: 8px;
  padding: 15px 40px;
  border: 2px solid #2a72dc;
  background-color: #2a72dc;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0 2px 4px #e2ebfc;
}
.banner .banner_content .banner_text .banner_group_button .button_shop:hover {
  background-color: white;
  color: #2a72dc;
}
.banner .banner_content .banner_img {
  width: 50%;
}
.banner .banner_content .banner_img img {
  width: 100%;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.fs-1 {
  font-size: 1 px;
}

.fs-2 {
  font-size: 2 px;
}

.fs-3 {
  font-size: 3 px;
}

.fs-4 {
  font-size: 4 px;
}

.fs-5 {
  font-size: 5 px;
}

.fs-6 {
  font-size: 6 px;
}

.fs-7 {
  font-size: 7 px;
}

.fs-8 {
  font-size: 8 px;
}

.fs-9 {
  font-size: 9 px;
}

.fs-10 {
  font-size: 10 px;
} /*# sourceMappingURL=style.css.map */
