.footer_content {
  padding: 50px 0;
  background-color: #2a72dc;
  p {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 18px;
    transition: all 0.5s;
    text-align: center;
  }
}
