// variable
// màu
$bg-background: #f6f9fe;
$color-blue-100: #2a72dc;
$color-blue-200: #1e355e;
$color-yellow-100: #f9d32f;
$color-text-white: white;

// font size
$fs-logo: 24px;
$fs-title-1: 60px;
$fs-title-2: 34px;
$fs-title-3: 25px;
$fs-sub-title: 20px;
$ps-paragraph: 18px;

// độ bóng
$box-shadow: 0 2px 4px #e2ebfc;
